@model ProductionManagement.Models.ViewModels.Dashboard.DashboardVM

@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-6">
        <h3>@Html.DisplayNameFor(model => model.Machines)</h3>
        <br />
        <p>
            @Html.ActionLink("Create New", "../MachineShop/AddMachine")
        </p>
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Machine.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Machine.MachineCategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Machine.HourRate)
                </th>
            </tr>
            @foreach (var machine in Model.Machines)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelmachine => machine.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelmachine => machine.MachineCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelmachine => machine.HourRate)
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-3">
        <h3>@Html.DisplayNameFor(model => model.MachineCategory)</h3>
        <br />
        <p>
            @Html.ActionLink("Create New", "../MachineShop/MachineCategory")
        </p>
        <table class="table table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MachineCat.Name)
                </th>
            </tr>
            @foreach (var category in Model.MachineCategory)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(categoryName => category.Name)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>@Html.DisplayNameFor(model => model.RawMaterials)</h3>

        <br />
        <p>
            @Html.ActionLink("Create new", "../warehouseshop/addrawmaterial")
        </p>
        <table class="table table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RawMaterial.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RawMaterial.RawTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RawMaterial.Lenght)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RawMaterial.Width)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RawMaterial.Thickness)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RawMaterial.MeasureUnit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RawMaterial.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RawMaterial.Stock)
                </th>
            </tr>
            @foreach (var item in Model.RawMaterials)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(raw => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(raw => item.RawTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(raw => item.Lenght)
                    </td>
                    <td>
                        @Html.DisplayFor(raw => item.Width)
                    </td>
                    <td>
                        @Html.DisplayFor(raw => item.Thickness)
                    </td>
                    <td>
                        @Html.DisplayFor(raw => item.MeasureUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(raw => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(raw => item.Stock)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>